
# SUPABASE CONNECTION CREDENTIALS
VITE_SUPABASE_URL=https://ibfwobbujdpzpndwqcef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImliZndvYmJ1amRwenBuZHdxY2VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5ODg4MDEsImV4cCI6MjA5NjU2NDgwMX0.M271pk-QWKnBPcGpc5n-YKGi9fY-PcJx8JvnkGFxIrU

# CLOUDINARY IMAGE HOSTING INTEGRATION
VITE_CLOUDINARY_CLOUD_NAME=djvc8i020
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
CLOUDINARY_URL=cloudinary://<423255782127551>:<D5IM35eG1y_M672xbozFPpmpWGo>@djvc8i020